# Ignore tout par défaut
*

# Ré-autorise www et private et tout ce qu'ils contiennent
!www/
!www/**
!private/
!private/**

# Toujours versionner le .gitignore
!.gitignore

# Autres fichiers a versionner
!README.md
