# Ignore tout par défaut
*

# Ré-autorise www et private et tout ce qu'ils contiennent
!www/
!www/**
!private/
!private/**

# Toujours versionner le .gitignore
!.gitignore

# --- Dossier GitHub Actions (pour CodeQL, lint, etc.) ---
!.github/
!.github/**

# Autres fichiers à versionner
!README.md
!composer.json
!phpstan.neon