# Ignore tout par défaut
*

# Ré-autorise www et private et tout ce qu'ils contiennent
!www/
!www/**
!private/
!private/**

# Toujours versionner le .gitignore
!.gitignore

# Autres fichiers à versionner
!README.md

# Exclure le fichier de config sensible
private/config/config.php
private/config/config.example.php
